*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.firstdiv img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
} 
.firstdiv{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(25, 25, 192);
    color: white;
    padding: 20px 40px;
    font-size: calc(8px + 1vw);
    font-weight: bold;
}
/* .firstdiv h1{
    margin-right: 400px;
} */
.firstdiv>button{
    display: none;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color:white;
    text-decoration: none;
}
.intro {
    text-align: center;
    padding: 70px 70px;
    background: rgb(199, 199, 211);
}
.search{
    font-weight: 20px;
    font-weight: bold;
    background: rgb(25, 25, 192);
    padding: 70px 70px;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 32px;
}
.search input[type=search]{
    height: 45px;
    width: 15vw;
    border-radius: 5px;
    border-width: 0px;
    padding: 0px 15px;
}
.search input[type=search]::placeholder{
    color: grey;
}
.browse{
    background-color: rgb(199, 199, 211);
    padding: 20px 40px;
    height: 500px;
}
.browse .bigBookSection{
    overflow-x: scroll;
    display: flex;
    column-gap: 10px;
}
.browse .bigBookSection .smallBookSection{
    background-color: white;
    width: fit-content;
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    column-gap: 20px;
    /* justify-content: space-between; */
    padding: 0px 30px;
}
.browse .bigBookSection .smallBookSection .subject{
    width: 30svw;
    height: 90%;
    background-color: white;
    
}
.subject article{
    display: flex;
    background-color: rgb(137, 231, 82);
    padding: 20px 20px;
    column-gap: 20px;
    border-radius: 10px;
    margin-top: 20px;

}
.subject article img{
    width: 40%;
}
.browse .bigBookSection .smallBookSection .subject .subjectName{
    justify-content: center;
    color: black;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}


footer{
    background-color: green;
    padding: 40px 40px;
    display: flex;
    align-items: center;
    color: bisque;
    justify-content: center;
}
.mobileNav{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    top: 0px;
    padding: 30px;
    /* transition-duration: 2s; */
}
.mobileNav>button{
    width: 50px;
    height: 40px;
    background-color: transparent;
    background-image: url(icons8-cancel-100\ \(1\).png);
    background-repeat: no-repeat;
    background-size: 50px 45px;
    border-width: 0px;
    border-radius: 5px;

    position: absolute;
    right: 30px;
}
.mobileNav nav ul{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    font-size: 28px;
    padding-top: 20px;
}
.mobileNav nav ul li a{
    color: black;
}

















@media screen and (max-width:600px) {
    .search{
        background-color: blue;
    }
    header>.firstdiv>nav{
        display: none;
    }

    .firstdiv>button{
        display: block;
        width: 50px;
        height: 40px;
        background-color: transparent;
        background-image: url(hamburgericon.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-width: 0px;
        border-radius: 5px;
    }
}